<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cameraRoll" class="com.example.context.ColorCameraRoll"/>

    <bean id="camera" class="com.example.context.Camera">
        <property name="cameraRoll" ref="cameraRoll"/>
    </bean>

</beans>